In [1]:
# Import data

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data/20220915_HackZurich_Sensirion_v1.csv")

In [4]:
df.sample(2)

,Unnamed: 0,temperature_ventilation_system_fresh_air_in,temperature_ventilation_system_fresh_air_intermediate,temperature_ventilation_system_fresh_air_out,temperature_ventilation_system_used_air_in,temperature_ventilation_system_used_air_out,volumne_flow_ventitaltion_system_in,particulate_matter_outdoor_measured,temperature_outdoor,humidity_outdoor_measured,...,co2_room_A,co2_room_B,particulate_matter_room_A,tvoc_room_A,temperature_room_B,humidity_room_B,particulate_matter_room_B,no2_room_B,tvoc_room_B,consumed_meals
45788,2022-03-15 23:20:00,8.5,18.0,21.3,22.5,11.3,4.553,8.643105,8.2322,47.0693,...,466.86315,486.074321,2.932035,110.295094,25.607382,23.551445,2.774093,6.163712,118.179887,0.0
3226,2021-05-24 09:40:00,NaN,NaN,NaN,NaN,NaN,NaN,1.708025,14.6383,45.4473,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [5]:
df[["Unnamed: 0"]].dtypes

Unnamed: 0    object
dtype: object

In [6]:
df["datetime"] = pd.to_datetime(df["Unnamed: 0"])

In [7]:
df[["datetime"]].dtypes

datetime    datetime64[ns]
dtype: object

In [8]:
df.drop("Unnamed: 0", axis=1, inplace=True)

In [9]:
df.columns

Index(['temperature_ventilation_system_fresh_air_in',
       'temperature_ventilation_system_fresh_air_intermediate',
       'temperature_ventilation_system_fresh_air_out',
       'temperature_ventilation_system_used_air_in',
       'temperature_ventilation_system_used_air_out',
       'volumne_flow_ventitaltion_system_in',
       'particulate_matter_outdoor_measured', 'temperature_outdoor',
       'humidity_outdoor_measured', 'temperature_outdoor_estimated',
       'wind_speed_outdoor_estimated', 'wind_dir_outdoor_estimated',
       'precipitation_outdoor_estimated', 'humidity_outdoor_estimated',
       'visibility_outdoor_estimated', 'pressure_outdoor_estimated',
       'cloudcover_outdoor_estimated', 'dewpoint_outdoor_estimated',
       'wind_gust_outdoor_estimated', 'uv_outdoor_estimated', 'co2_room_A',
       'co2_room_B', 'particulate_matter_room_A', 'tvoc_room_A',
       'temperature_room_B', 'humidity_room_B', 'particulate_matter_room_B',
       'no2_room_B', 'tvoc_room_B', 'consumed_meals', 'datetime'],
      dtype='object')

In [17]:
df[["consumed_meals"]].describe()

       consumed_meals
count    69985.000000
mean         0.633836
std          9.495526
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        222.000000